.principal{
    height: 600px;
    background:gold;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primer_ar{
        height: 300px;
    width: 250px;
    background: blue;
    margin: 00px;
    border: 1px dashed #000;

}
.segundo_ar{
        height: 300px;
    width: 500px;
    background: white;
    margin: 00px;
    border: 1px dashed #000;
       justify-content: center;
    align-items: center;

}

.tercer_ar{
  position: relative;
  top: 320px; 
  height: 250px;
  width: 300px;
  background: red;
  margin: 0;
  border: 1px dashed #000;
}